<%= form_for @board do |f| %>
  <% if @board.errors.any? %>
    <div id="errors">
      <h3><%= pluralize(@board.errors.count, "error") %> occurred!</h3>
      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.submit 'submit', :class => 'btn btn-default btn-sm' %>
<% end %>
